.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :name ,placeholder: "Title", class: "proto-new-title"
      .row
        = f.fields_for :captured_images, @prototype.captured_images.main.first do |image_form|
          .cover-image-upload.col-md-12
            = image_tag @prototype.main_image
            = image_form.file_field :image, class: "js-image-file"
            = image_form.hidden_field :status, value: "main"
          .col-md-12.proto-sub-list
            %ul#js-proto-sub-list
              = f.fields_for :captured_images, @prototype.sub_images do |image_form|
                = render "sub_image_edit_form", image_form: image_form
              - if @prototype.sub_images.length < Prototype::MAXIMUM_NUMBER_OF_SUB_IMAGES_IN_PROTOTYPE
                = render "sub_image_plus"
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            = render partial: "tags/tag_form", collection: @prototype.tags, as: :tag
        = f.hidden_field :user_id, value: current_user.id
      .row.text-center.proto-btn
        = f.submit "Publish", class: "button btn btn-lg btn-primary btn-block"
