.container.proto-new
  = form_for @prototype do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :name ,placeholder: "Title", class: "proto-new-title"
      .row
        = f.fields_for :captured_images do |image_form|
          .col-md-12
            .cover-image-upload
              = image_form.file_field :image, class: "js-image-file"
              = image_form.hidden_field :status, value: "main", class: "js-image-hidden"
          .col-md-12
            %ul.proto-sub-list
            = f.fields_for :captured_images do |image_form|
              - Prototype::NUMBER_OF_SUB_IMAGES_IN_PROTOTYPE_FORM.times do
                = render "sub_image_form", image_form: image_form
              %li.list-group-item.col-md-4
                .image-upload-plus
                  %span +
      .row.proto-description
        .col-md-12
          = f.text_field :catch_copy, placeholder: "Catch Copy"
        .col-md-12
          = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
        .col-md-12
          %h4 Tag List
          .row
            - Prototype::NUMBER_OF_TAGS_IN_A_PROTOTYPE.times do |i|
              = render "tags/tag_new_form", tag_list: @prototype.tag_list, placeholders: @placeholders, i: i
        = f.hidden_field :user_id, value: current_user.id
      .row.text-center.proto-btn
        = f.submit "Publish", class: "button btn btn-lg btn-primary btn-block"
