- user = @prototype.user
.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(user) do
            = image_tag user.avatar, alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", style: "width: 64px; height: 64px;", class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            Top aligned media
          .proto-user
            =link_to "by #{user.name}", user_path(user)
            %span.degree
              = user.occupation

    .col-md-6.text-right#like
      - if user_signed_in?
        - if @prototype.liked_by?(current_user)
          = render "likes/like", prototype: @prototype
        - else
          = render "likes/unlike", prototype: @prototype
      - else
        = render "likes/like_user_not_signed_in", prototype: @prototype
  .row
    .col-md-9
      = image_tag(@prototype.main_image ,class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        = render partial: "sub_image", collection: @prototype.sub_images

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num
        = "(#{@prototype.comment_num})"
      .col-md-8.comments-list
        = render partial: "comments/comment", collection: @comments
      - if user_signed_in?
        = form_for @comments.new, remote: true do |f|
          %h4.col-md-8 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, {placeholder: "Your comments", rows: "3", class: "form-control", id: "comment-text"}
              = f.hidden_field :prototype_id, value: @prototype.id
            .form-group.col-md-2
              %button.btn.btn-primary Comment
