.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      = content_tag :ul, class: "nav nav-pills col-lg-11" do
        = content_tag :li, class: "active", role: "presentation" do
          = link_to "Popular PROTO", popular_index_path
        = content_tag :li, role: "presentation" do
          = link_to "Newest PROTO", newest_index_path
      %button{type: "button", class: "btn btn-default col-lg-1"} View Tags
